.host{
  font-size: 13px;
}

.selected {

  color: white;
}

h2 {
  color: red;
  text-align: center;
}
.app{
  display: flex;
}
.list{
  background-color: aqua;
  width: 340px;
  display: flex;
  height: auto;
  padding-bottom: 5px;
}

.list:first-child{
  padding-top:5px;
}
.idHero{
  background-color: grey;
  width:30px;
  height:38px;
  text-align: center;
  border-radius: 5px;
  margin-left: 5px;
}
.heroName{
  background-color: aquamarine;
  width: 220px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}


