<div class="container">
  <div class="row">
      <div *ngIf="hero" class="details"  style="width: 400px;">
          <h3>You Selected: {{hero.name}}</h3>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>ID</td>
                <td>{{hero.id}}</td>
              </tr>
              <tr>
                  <td>Name</td>
                  <td>
                      <input class="form-control" [(ngModel)] = "hero.name" >
                  </td>
                </tr>
            </tbody>
          </table>

          <button type="button" class="btn btn-info" (click)="goBack()">Back</button>

          <button type="button" class="btn btn-danger" style="margin-left:10px"
                  (click)="onDel(hero.id)" routerLink="../../heroes">Delete</button>
        </div>
  </div>
</div>




