/* :host(.active) {
  border-width: 5px ;
}

:host-context(.details) h3 {
  background-color: black;
} */

.details {
  background: mediumaquamarine;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 16px;
  width: 300px;
}

/* .tbDetail{
  margin-top: 30px;
} */
